body {
    font-family: Archivo, sans-serif;
    margin: -8px;
}

.centered-text {
    display: flex;
    height: 500px;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}
.centered-content {
    display: flex;
    min-height: 90vh;
    margin-top: 20px;
    /* align-items: center; */
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
}
.footer {
    background-color: #333434;
    height: 150px;
    color: white;
    text-align: center;
    padding: 5px;
    width: 100%;
}
.mailto {
    color: #c7c7c7;
}
.container-home {
    position: relative;
    text-align: center;
    color: white;
    z-index: -1;
}
.container-heading {
    padding-left: 25px;
    margin-top: -4px;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: rgb(229,74,5);
    background: linear-gradient(45deg, rgba(229,74,5,1) 0%, rgba(255,165,0,1) 100%);
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.welcome-text {
    font-size: 150px;
    font-weight: bold;
}
.home-img {
    padding-top: 8px;
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    filter: brightness(50%);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    height: 25%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    width: 27%;
    height: 27%;
}
.container-card {
    padding: 2px 16px;
}
.card-img {
    width: 100%;
    height: 200px;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: top;
       object-position: top;
    border-radius: 5px;
}
.carrousel {
    display: flex;
    padding: 5px;
}
th {
    border-bottom: 1px solid #4b4b4b;
    background-color: white;
}
tr{
    transition: 0.3s;
}
tr:hover {
    background-color: #ffd5a4;
}
table,
th,
td {
    border-collapse: separate;
    border-spacing: 0;
}
table {
    width: 100%;
    border: 1px solid black;
}
td,
th {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #c7c7c7;
}
tr:nth-child(even):hover {
    background-color: #ffd5a4;
}
td:nth-child(n + 4):nth-child(-n + 9) {
    text-align: center;
}
th:nth-child(n + 4):nth-child(-n + 9) {
    text-align: center;
}
input.small {
    max-width: 30%;
    min-width: 20%;
}
td:nth-child(1) {
    padding-left: 20px;
}
.btn-rent {
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 150px;
    height: 50px;
    width: auto;
    height: auto;
    color: white;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
    background: linear-gradient(
        0deg,
        rgba(229, 74, 5, 1) 0%,
        rgba(255, 165, 0, 1) 100%
    );
    border-radius: 10px;
    box-shadow: 0 0 10px 4px rgba(54, 54, 54, 0.5);
    border: none;
    transition: 0.5s;
}
.btn-items {
    width: 130px;
    height: 56px;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        0deg,
        rgba(229, 74, 5, 1) 0%,
        rgba(255, 165, 0, 1) 100%
    );
    border-radius: 10px;
    /* box-shadow: 0 0 10px 4px rgba(54, 54, 54, 0.3); */
    border: none;
    transition: 0.3s;
}
.btn-items a {
    color: white;
    text-decoration: none;
}
.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    margin-top: 10px;
    padding: 10px;
}
.search-bar-input {
    /* padding-right: 20px; */
    width: 150px;
    height: 56px;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    font-size: medium;
    transition: 0.3s;
}
.search-bar-input:hover,
.btn-items:hover {
    box-shadow: 0 0 10px 4px rgba(202, 93, 3, 0.5);
    width: 200px;
}
.search-bar-input:focus {
    outline-color: rgb(255, 165, 93);
    border: rgb(255, 165, 93);
}
.search-bar-icon {
    width: 30px;
    height: 30px;
    /* padding-right: 7px; */
    /* padding-left: 10px; */
    display: flex;
    cursor: pointer;
    transition: 0.3s;
}
.search-bar-icon:hover {
    width: 35px;
    height: 35px;
}
.table-icon{
    width: 20px;
    height: 20px;
    display: inline-flex;
    cursor: pointer;
    transition: 0.3s;
}

.top-nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.top-nav a {
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.top-nav button {
    display: flex;
    align-items: center;
    outline: none;
    color: #f2f2f2;
    background: none;
    border: none;
    text-align: center;
    /* padding-right: 3px; */
    /* text-decoration: none; */
    font-size: 17px;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    height: 50px;
    transition: 0.3s;
}

.top-nav a:hover,
.top-nav button:hover {
    background-color: #676767;
    color: black;
}

.top-nav a.active {
    background-color: rgba(248, 147, 32, 0.89);
    color: white;
}

.top-nav a.right {
    margin-left: auto;
    padding-right: 30px;
}

.top-nav a.left {
    padding-left: 30px;
}

.logout-container{
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    /* padding: 10px 14px; */
    text-decoration: none;
    font-size: 17px;
}

.logo-image {
    display: flex;
    width: 30px;
    height: 30px;
    padding-right: 7px;
    transition: 0.3s;
}
.logo-image-small {
    display: flex;
    padding-right: 7px;
    width: 20px;
    height: 20px;
}

.hide {
    display: none;
}

.hide:hover {
    display: block;
}

.account-section:hover + .hide {
    display: block;
}

.log-out-button {
    width: 150px;
}

.log-out-button .logo-image-small{
    padding-left: 10px;
}

/* animation */

#slide {
    position: fixed;
    width: 150px;
    right: -150px;
    top: 0px;
    height: auto;
    background-color: #333;
    transition: right 0.4s ease-in-out;
    -o-transition: right 0.4s ease-in-out;
    -ms-transition: right 0.4s ease-in-out;
    -moz-transition: right 0.4s ease-in-out;
    -webkit-transition: right 0.4s ease-in-out;
}
#toggle {
    position: absolute;
    right: 150px;
    padding: 10px;
}
#slide:hover {
    right: 0px;
}

.top-nav {
    background-color: #333;
    overflow: hidden;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.top-nav a {
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
}

.top-nav button {
    display: flex;
    align-items: center;
    outline: none;
    color: #f2f2f2;
    background: none;
    border: none;
    text-align: center;
    /* padding-right: 3px; */
    /* text-decoration: none; */
    font-size: 17px;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    height: 50px;
    transition: 0.3s;
}

.top-nav a:hover,
.top-nav button:hover {
    background-color: #676767;
    color: black;
}

.top-nav a.active {
    background-color: rgba(248, 147, 32, 0.89);
    color: white;
}

.top-nav a.right {
    margin-left: auto;
    padding-right: 30px;
}

.top-nav a.left {
    padding-left: 30px;
}

.logout-container{
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    /* padding: 10px 14px; */
    text-decoration: none;
    font-size: 17px;
}

.logo-image {
    display: flex;
    width: 30px;
    height: 30px;
    padding-right: 7px;
    transition: 0.3s;
}
.logo-image-small {
    display: flex;
    padding-right: 7px;
    width: 20px;
    height: 20px;
}

.hide {
    display: none;
}

.hide:hover {
    display: block;
}

.account-section:hover + .hide {
    display: block;
}

.log-out-button {
    width: 150px;
}

.log-out-button .logo-image-small{
    padding-left: 10px;
}

/* animation */

#slide {
    position: fixed;
    width: 150px;
    right: -150px;
    top: 0px;
    height: auto;
    background-color: #333;
    transition: right 0.4s ease-in-out;
    -o-transition: right 0.4s ease-in-out;
    -ms-transition: right 0.4s ease-in-out;
    -moz-transition: right 0.4s ease-in-out;
    -webkit-transition: right 0.4s ease-in-out;
}
#toggle {
    position: absolute;
    right: 150px;
    padding: 10px;
}
#slide:hover {
    right: 0px;
}

.account-greet h1 {
    color: #333434;
    padding-left: 20px;
    padding-top: 10px;
}
.account-greet h2 {
    color: #ffffff;
    padding-left: 20px;
    line-height: 30px;
}
.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 100px;
}
.heading {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.category {
    font-weight: bold;
}
.info {
    margin-left: 20px;
}
.container-account {
    display: flex;
}
.item-75 {
    flex-basis: 75%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 5px;
    font-size: large;
}
.item-25 {
    flex-basis: 25%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 5px;
}
.item-10 {
    flex-basis: 5%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-left: 20px;
}
.item-avatar {
    margin-top: 20px;
}
.item-25.right {
    font-weight: bold;
    font-size: large;
    text-align: right;
}
.info-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    transition: 0.3s;
}
.info-img.edit{
    margin-left: auto;
    cursor: pointer;
    padding-right: 30px;
}
.info-img:hover {
    width: 43px;
    height: 43px;
}
.container-account.top {
    background: rgb(229,74,5);
    background: linear-gradient(0deg, rgba(229,74,5,1) 0%, rgba(255,165,0,1) 100%);
    height: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.container-heading-account {
    padding-left: 25px;
    color: white;
    display: flex;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    transition: 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.login-form {
    display: flex;
    background: linear-gradient(
        0deg,
        rgba(229, 74, 5, 1) 0%,
        rgba(255, 165, 0, 1) 100%
    );
    min-height: 90vh;
    /* align-items: center; */
    justify-content: center;
    padding-top: 100px;
}

.login-form span {
    color: white;
}

.register-form {
    display: flex;
    background: linear-gradient(
        0deg,
        rgba(229, 74, 5, 1) 0%,
        rgba(255, 165, 0, 1) 100%
        );
        min-height: 90vh;
        /* align-items: center; */
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 100px;
}

.register-form a {
    color: white;
}

.register-form input[type="text"],
.login-form input[type="text"],
.register-form input[type="password"],
.login-form input[type="password"],
.register-form input[type="email"],
.login-form input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
}

.login-label {
    font-weight: bold;
    font-size: large;
}

.register-form input[type="text"]:hover,
.login-form input[type="text"]:hover,
.register-form input[type="password"]:hover,
.login-form input[type="password"]:hover,
.register-form input[type="email"]:hover,
.login-form input[type="email"]:hover {
    box-shadow: 0 0 10px 4px rgba(54, 54, 54, 0.3);
}

.login-form button[type="submit"], 
.register-form button[type="submit"], 
.new-item button[type="submit"] {
    background-color: #2d5500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
    transition: 0.5s;
}

.login-form button[type="submit"]:hover, 
.register-form button[type="submit"]:hover, 
.new-item button[type="submit"]:hover {
    background-color: #509600;
    box-shadow: 0 0 10px 4px rgba(54, 54, 54, 0.3);
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container-login {
    padding-bottom: 30%;
}

span.password {
    float: right;
    padding-top: 16px;
}

.new-item select,
.new-item input[type="text"],
.new-item input[type="number"],
.new-item input[type="file"],
.new-item input[type="password"],
.new-item input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
}

.new-item input[type="file"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
}

.new-item select:hover,
.new-item input[type="text"]:hover,
.new-item input[type="number"]:hover,
.new-item input[type="password"]:hover,
.new-item input[type="email"]:hover {
    box-shadow: 0 0 10px 4px rgba(54, 54, 54, 0.3);
}

.new-item input[type="file"]:hover {
    cursor: pointer;
}

.form-group {
    display: flex;
    gap: 50px;
    align-items: center;
}

.file-group{
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-item {
    flex-grow: 1;
}

.new-item-form {
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
    height: 500px;
    background: linear-gradient(
        0deg,
        rgba(229, 74, 5, 1) 0%,
        rgba(255, 165, 0, 1) 100%
    );
    min-height: 100vh;
    /* align-items: center; */
    justify-content: center;
}

.new-item span{
    font-size: medium;
    padding: 0;
    margin: 0;
}
.new-item {
    padding-bottom: 50px;
}
.new-item p {
    font-size: small;
    font-weight: normal;
    font-style: italic;
}
.new-item button[type="submit"],
.edit-item button[type="submit"] {
    font-weight: bold;
}
.form-item button[type="button"]{
    background: none;
    background-color: none;
    border: none;
    
}
.form-icon{
    width: 20px;
    height: 20px;
    display: inline-flex;
    cursor: pointer;
    transition: 0.3s;
}
.hidden {
    display: none;
}
.edit-page-back {
    display: flex;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
.edit-page-back:hover{
    width: 45px;
    height: 45px;
}

