.login-form {
    display: flex;
    background: linear-gradient(
        0deg,
        rgba(229, 74, 5, 1) 0%,
        rgba(255, 165, 0, 1) 100%
    );
    min-height: 90vh;
    /* align-items: center; */
    justify-content: center;
    padding-top: 100px;
}

.login-form span {
    color: white;
}

.register-form {
    display: flex;
    background: linear-gradient(
        0deg,
        rgba(229, 74, 5, 1) 0%,
        rgba(255, 165, 0, 1) 100%
        );
        min-height: 90vh;
        /* align-items: center; */
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 100px;
}

.register-form a {
    color: white;
}

.register-form input[type="text"],
.login-form input[type="text"],
.register-form input[type="password"],
.login-form input[type="password"],
.register-form input[type="email"],
.login-form input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
}

.login-label {
    font-weight: bold;
    font-size: large;
}

.register-form input[type="text"]:hover,
.login-form input[type="text"]:hover,
.register-form input[type="password"]:hover,
.login-form input[type="password"]:hover,
.register-form input[type="email"]:hover,
.login-form input[type="email"]:hover {
    box-shadow: 0 0 10px 4px rgba(54, 54, 54, 0.3);
}

.login-form button[type="submit"], 
.register-form button[type="submit"], 
.new-item button[type="submit"] {
    background-color: #2d5500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 30px;
    transition: 0.5s;
}

.login-form button[type="submit"]:hover, 
.register-form button[type="submit"]:hover, 
.new-item button[type="submit"]:hover {
    background-color: #509600;
    box-shadow: 0 0 10px 4px rgba(54, 54, 54, 0.3);
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container-login {
    padding-bottom: 30%;
}

span.password {
    float: right;
    padding-top: 16px;
}
