.new-item select,
.new-item input[type="text"],
.new-item input[type="number"],
.new-item input[type="file"],
.new-item input[type="password"],
.new-item input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
}

.new-item input[type="file"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    transition: 0.5s;
}

.new-item select:hover,
.new-item input[type="text"]:hover,
.new-item input[type="number"]:hover,
.new-item input[type="password"]:hover,
.new-item input[type="email"]:hover {
    box-shadow: 0 0 10px 4px rgba(54, 54, 54, 0.3);
}

.new-item input[type="file"]:hover {
    cursor: pointer;
}

.form-group {
    display: flex;
    gap: 50px;
    align-items: center;
}

.file-group{
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-item {
    flex-grow: 1;
}

.new-item-form {
    display: flex;
    font-size: xx-large;
    font-weight: bolder;
    height: 500px;
    background: linear-gradient(
        0deg,
        rgba(229, 74, 5, 1) 0%,
        rgba(255, 165, 0, 1) 100%
    );
    min-height: 100vh;
    /* align-items: center; */
    justify-content: center;
}

.new-item span{
    font-size: medium;
    padding: 0;
    margin: 0;
}
.new-item {
    padding-bottom: 50px;
}
.new-item p {
    font-size: small;
    font-weight: normal;
    font-style: italic;
}
.new-item button[type="submit"],
.edit-item button[type="submit"] {
    font-weight: bold;
}
.form-item button[type="button"]{
    background: none;
    background-color: none;
    border: none;
    
}
.form-icon{
    width: 20px;
    height: 20px;
    display: inline-flex;
    cursor: pointer;
    transition: 0.3s;
}
.hidden {
    display: none;
}
.edit-page-back {
    display: flex;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
.edit-page-back:hover{
    width: 45px;
    height: 45px;
}
.items-dummy-button {
    background-color: none;
    border: none;
    background: none;
}